* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.wrapper div:nth-child(1) {
    width: 100%;
    height: 400px;
    position: relative;
    background: rgb(13, 65, 221);
}

.wrapper div:nth-child(2) {
    width: 1200px;
    height: 350px;
    background: black;
    position: absolute;
    top: 25px;
    left: 0;
}

.wrapper div:nth-child(3) {
    width: 900px;
    height: 300px;
    background: rgb(169, 98, 6);
    position: absolute;
    top: 50px;
}

.wrapper div:nth-child(4) {
    width: 500px;
    height: 250px;
    background: rgb(164, 11, 11);
    position: absolute;
    top: 75px;
}