* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 500px;
    background: #f2994a;
    border: 1px solid #FFFFFF;
}

.img {
    margin: 60px 0 0 170px;
}

.username,
.password {
    width: 200px;
    height: 50px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    background: #f2994a;
    padding: 0 0 0 40px;
}

.username {
    margin: 10px 40px 0 100px;
}

.username:focus {
    outline: none;
}

.password {
    margin: 30px 40px 0 100px;
}

.password:focus {
    outline: none;
}

.control-label-1,
.control-label-2 {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
}

.submit {
    width: 200px;
    height: 50px;
    background: #9B51E0;
    margin: 30px 40px 0 100px;
    border: none;
    border-radius: 5px;
}